// header
$title-color: #D04F4F;

// search
$ingredients-color: #3282F7;
$appareils-color: #68D9A4;
$ustensiles-color: #ED6454;

// cards
$card-img-background-color: #C7BEBE;

// all
$grey-background-color: #E7E7E7;
$black: #000000;
$white: #FFFFFF;
