// flex
@mixin flex($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

// media queries
@mixin media($breakpoint) {
	@if $breakpoint == phone {
		@media only screen and (max-width: 767px) {
			@content;
		}
	}
	@if $breakpoint == tablet {
		@media only screen and (min-width: 768px) and (max-width: 1023px) {
			@content;
		}
	}
	@if $breakpoint == desktop {
		@media only screen and (min-width: 1024px) {
			@content;
		}
	}
	@if $breakpoint == max-content-width {
		@media only screen and (min-width: $max-content-width) {
			@content;
		}
	}
}